#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

# Don't build the documentation when not building arch:all packages
ifeq (,$(filter libwayland-doc,$(shell dh_listpackages)))
configure_flags += -Ddocumentation=false
endif

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_makeshlibs:
	dh_makeshlibs -plibwayland-client0 \
		-V 'libwayland-client0 (>= 1.2.0)' -- -c4
	dh_makeshlibs -plibwayland-cursor0 \
		-V 'libwayland-cursor0 (>= 1.0.4)' -- -c4
	dh_makeshlibs -plibwayland-egl1 \
		-V 'libwayland-egl1 (>= 1.14.91)' -- -c4
	dh_makeshlibs -plibwayland-server0 \
		-V 'libwayland-server0 (>= 1.2.0)' -- -c4

override_dh_auto_test:
	# the test suite does not pass completely in headless mode
	dh_auto_test || true

%:
	dh $@ --with quilt --builddirectory=build/ --buildsystem=meson

# For maintainer use only, generate a tarball:
gentarball:
	git archive --format=tar upstream-experimental --prefix=$(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)/ | gzip -9 > ../$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM).orig.tar.gz
